<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:annotation-config />
    <context:component-scan base-package="com.taoxiaopang。rest.server" />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
          <property name="locations">
            <list>
              <value>server.properties</value>
            </list>
          </property>
    </bean>

    <bean id="server" class="com.taoxiaopang.rest.server.RestServer"
        p:nettyServer-ref="netty" />
    
    <bean id="netty" class="com.taoxiaopang.rest.server.NettyServer" 
        p:httpPort="${server.http.port:9098}" 
        p:backlog="${server.backlog:128}" 
        p:executorThreadCount="${server.netty.EventExecutor.count:100}" />
        
    <bean id="userService" class="com.taoxiaopang.rest.server.user.UserServiceImpl" />


</beans>
